body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.flower_arrangements{
  position: absolute;
  height: 400px;
  width: 250px;
}

img{
  width:50px;
  height:50px;
  } 